body{
    margin: 0;
}
header{
    background-color: #EF233C;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.input_box{
    width: 100%;
}
.box{
    width: 100%;
    background-color: #EDF2F4;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 12px;
}
.box input{
    width: 600px;
    background-color: #EDF2F4;
    outline: none;
    border: none;
    font-family: poppins, arial;
    font-size: 15px;
    padding-left: 22px;
    color: #A2A5A7;
    font-weight: 500;
}
.box .button{
    background: transparent;
    margin: 0px 12px;
    padding: 6px;
    height: 60px;
    border: none;
}
#logo{
    max-width:250px;
    max-height:250px;
    width: auto;
    height: auto;
}
img{
    max-width: 25px;
    max-height: 25px;
    width: auto;
    height: auto;
}
nav{
    display: flex;
}